<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="study.team.leetcode.infra.algorithm.mapper.LeetCodeProblemMapper">

    <resultMap id="BaseResultMap" type="study.team.leetcode.infra.algorithm.po.LeetCodeProblem">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="no" column="no" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="pass_rate" column="pass_rate" jdbcType="VARCHAR"/>
            <result property="level" column="level" jdbcType="INTEGER"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="update_time" column="update_time" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,no,name,
        description,pass_rate,level,
        create_time,update_time
    </sql>
</mapper>
